/* HEADER */
header {
    background-color: rgba(0, 81, 156, 0.7);
    height: 60px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 10;

    .mobile-icon {
        display: none;
        width: 33px;
        height: 33px;
        margin: 14px auto 0;
        background: url("../images/base/menu-icon.png") no-repeat center;
        background-size: contain;
        &:focus{
            outline: none;
        }

        @include transition-all;

        transform: rotate(0deg);

        &.active {
            background: url("../images/base/close.png") no-repeat center;
            transform: rotate(-90deg);
            background-size: contain;
        }
    }

    nav {
        display: inline-block;
        margin-left: 10px;
    }

    li {
        display: inline-block;

        a {
            height: 60px;
            padding: 0 12px;
            color: #fff;
            font-size: 15px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.020em;
            line-height: 60px;

            @include transition-all;

            &:hover {
                background-color: #00519c;
            }
        }
    }

    a {
        display: block;
    }

    .theodora-logo {
        width: 84px;
        height: 42px;
        background: url("../images/header/theodora-logo.png") no-repeat center;
        background-size: contain;
        position: absolute;
        left: 10px;
    }

    .lidl-logo {
        width: 45px;
        height: 45px;
        background: url("../images/header/lidl-logo.png") no-repeat center;
        background-size: contain;
        position: absolute;
        right: 10px;
    }

    .theodora-logo, .lidl-logo {
        top: 8px;
    }
}