/* INDEX */
.index {
    .logo-wrapper {
        width: 460px;
        max-width: 100%;
        margin: 85px auto 0;

        a {
            display: block;
            float: left;
        }

        .bird {
            float: left;
        }

        .lidl-logo-big {
            width: 80px;
            height: 80px;
            background: url("../images/base/lidl-logo-big.png") no-repeat center;
            background-size: contain;
            margin-right: 71px;
        }

        .theodora-logo-big {
            width: 159px;
            height: 80px;
            background: url("../images/base/theodora-logo-big.png") no-repeat center;
            background-size: contain;
            margin-right: 96px;
        }

        .bird {
            width: 47px;
            height: 40px;
            background: url("../images/base/bird.png") no-repeat center;
            background-size: contain;
            margin-top: 14px;
        }
    }

    .custom-h {
        color: #e60004;
        width: 500px;
        margin: 37px auto 15px;
        max-width: 100%;
    }

    .custom-p {
        width: 620px;
        max-width: 100%;
        margin: 0 auto;

        &:nth-of-type(1) {
            margin-bottom: 15px;
        }

        span {
            color: #e60004;
        }
    }

    .prize-wrapper {
        width: 620px;
        max-width: 100%;
        margin: 10px auto;
        padding: 0 30px;

        div {
            float: left;
        }
    }

    .kali {
        width: 172px;
        height: 106px;
        background: url("../images/base/kali.png") no-repeat center;
        background-size: contain;
        margin-right: 5px;
    }

    .gopro {
        width: 164px;
        height: 114px;
        background: url("../images/base/gopro.png") no-repeat center;
        background-size: contain;
        margin-right: 50px;
    }

    .voucher {
        width: 150px;
        height: 107px;
        background: url("../images/base/voucher.png") no-repeat center;
        background-size: contain;
    }
}

/* MOUNTAIN */
.mountain {
    height: 445px;
    background: url("../images/base/mountain.png") no-repeat center top 50px;
    background-size: cover;
    position: relative;
    margin-top: -245px;

    &.custom {
        overflow: hidden;
        z-index: -1;
        margin-top: -640px;
    }

    &.custom-2 {
        margin-top: -215px;
        overflow: hidden;
    }

    .theodora-water {
        width: 675px;
        max-width: 100%;
        height: 643px;
        background: url("../images/base/theodora-water.png") no-repeat center;
        background-size: contain;
        position: absolute;
        bottom: -378px;
        right: 0;
    }
}

/* UPLOAD */
.upload {
    background-color: #86c3e5;
    padding-bottom: 53px;
    z-index: 1;
    margin-bottom: 58px;

    h1 {
        margin: 48px 0 30px;
    }

    form {
        width: 460px;
        max-width: 100%;
        margin: 0 auto;

        p {
            font-family: $opensans;
            font-size: 14px;
            line-height: 18px;
            text-transform: none;
        }
    }

    h2 {
        padding: 30px 0 15px;
    }

    a {
        text-decoration: underline;
        color: #0e4096;
    }

    .custom-p2 {
        width: 605px;
        margin: 10px auto;
        max-width: 100%;
    }
}

.prizes {
     h1 {
        margin-bottom: 120px;
    }

    li {
        text-align: center;

        &:last-child {
            span {
                display: inline;

                &:last-child {
                    color: #0e4096;
                }
            }
        }
    }

    h3 {
        width: 460px;
        margin: 30px auto 0;
        max-width: 100%;

        span {
            display: block;
            color: #e60004;
        }

        a {
            text-transform: uppercase;
            color: #567ea8;
            font-size: 13px;
            letter-spacing: 0.100em;
        }
    }

    .bx-wrapper, .bx-viewport {
        height: 345px !important;
    }

    .bx-controls-direction {
        position: absolute;
        width: 300px;
        top: -50px;
        left: 0;
        right: 0;
        top: 55px;
        margin: 0 auto;

        a {
            display: block;
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 26px 24px 24px 26px/26px 26px 24px 24px;
            background-color: #00519c;
            border: solid 2px #a0d7fb;
            background-image: linear-gradient(to bottom, #1b90db, #0b70c1);
        }

        span {
            top: 50%;
            left: 50%;
            width: 11px;
            height: 20px;
            position: absolute;
            transform: translate(-50%, -50%);
        }

        .bx-prev {
            left: 0;

            span {
                background: url("../images/base/left.png") no-repeat center;
                background-size: contain;
            }
        }

        .bx-next {
            right: 0;

            span {
                background: url("../images/base/right.png") no-repeat center;
                background-size: contain;
                left: 55%;
            }
        }
    }

    .bx-pager {
        width: 140px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 62px;

        a {
            float: left;
            display: block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0);
            border: solid 2px #00519c;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            color: #00519c;

            @include transition-all;

            margin-right: 17px;
        }

        .bx-pager-item:last-child a {
            margin-right: 0;
        }

        .active {
            background-color: #00519c;
            color: #fff;
        }
    }
}

/* GYIK */
.gyik {
    z-index: 1;

    .box {
        width: 620px;
        margin: 0 auto;
        max-width: 100%;
        font-family: $opensans;
        color: #0e4096;
    }

    h1 {
        padding: 117px 0 50px;
    }

    .up {
        text-transform: uppercase;
        padding-bottom: 0;
    }

    .reg {
        font-weight: 400;
    }

    p {
        text-align: left;
        font-size: 14px;
        text-transform: none;
        line-height: inherit;
        padding-bottom: 15px;
    }

    .nop {
        padding-bottom: 0;
    }

    a {
        float: left;
        font-family: "brandon-grotesque";
    }
}